body {
    background-color: tan;
}

.game-name {
    border: 1px solid black;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    border: 1px solid black;
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 80%;
    width: 500px;
    background-color: brown;
    padding: 1px;
}

.grid-cell {
    box-sizing: border-box;
    width: 33.33%;
    height: 33.33%;
    background-color: rgb(255, 232, 232);
    border: 1px solid brown;
    border-radius: 50px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.grid-cell:hover {
    background-color: brown;
    border: 5px solid rgb(255, 232, 232);
    transform: scale(1.055);
    -webkit-transform: scale(1.055);
    -moz-transform: scale(1.055);
    -ms-transform: scale(1.055);
    -o-transform: scale(1.055);
}