body {
    background-color: tan;
}

.game-name {
    border: 1px solid black;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    border: 1px solid black;
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 525px;
    width: 500px;
    background-color: brown;
    padding: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.grid-cell {
    box-sizing: border-box;
    width: 33.33%;
    height: 33.33%;
    background-color: rgb(255, 232, 232);
    border: 1px solid brown;
    border-radius: 50px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.grid-cell:hover {
    background-color: brown;
    border: 5px solid rgb(0, 0, 0);
    transition: ease-in-out 0.3s;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
}

.grid-cell-clicked {
    box-sizing: border-box;
    width: 33.33%;
    height: 33.33%;
    background-color: brown;
    border: 3px solid rgb(255, 232, 232);
    border-radius: 50px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    transition:ease 0.4s;
    -moz-transition:ease 0.4s;
    -ms-transition:ease 0.4s;
    -o-transition:ease 0.4s;
    -webkit-transition:ease 0.4s;
}